body {
    font-family: var(--thm-body-font);
}


/* About Section */
.sec-title-style3 .sub-title .icon img {
    max-width: 55px;
    margin-right: 10px;
}
.sec-title-style3 .sub-title h5 {
    font-family: var(--thm-body-font);
}

.about-three__img-icon-box .icon img {
    width: 65px;
}